/.idea/
/.vs/
/.vscode/
/Library/
/Logs/
/obj/
/Temp/

*.csproj
*.sln

# Probuilder saves local settings to the packages folder which isn't super
# great for source control. :(
/ProjectSettings/Packages/com.unity.probuilder/Settings.json